extends layout

block content
  h1= title
  table 
    thead 
      tr 
        th user
        th text
        th added
    tbody 
      each message in messages 
        tr 
          td #{ message.user }
          td #{ message.text }
          td #{ message.added }
  button(onClick='redirectToFormPage()') New Message

  script.
    function redirectToFormPage(){
      window.location.href='/new'
    }